
@font-face {
  font-family: 'apercumedium';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/apercu_medium-webfont.eot');
  src: url('./fonts/apercu_medium-webfont.eot?#iefix') format('embedded-opentype'),
 url('./fonts/apercu_medium-webfont.woff') format('woff'),
 url('./fonts/apercu_medium-webfont.ttf') format('truetype'),
 url('./fonts/apercu_medium-webfont.svg#apercu_mediumregular') format('svg');
  }


html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.textcontainer {
  text-align: center; 
  position: absolute; 
  top: 200px; 
  left: 40px; 
  bottom: 40px; 
  right: 40px;
}

p {
  font-family: "apercumedium", 'Helvetica Neue', "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

a {
    color: #fff;
}
